{% extends "base.html" %}

{% block content %}

<section id="hero">
    <h1>Stop Gender-based Violence</h1>
    <p>Spreading awareness, assisting survivors, and driving change to end GBV</p>
    <a href="{{ url_for('report.report_form') }}" class="btn">Report a Case</a>
</section>

<section id="about" class="section-about"></section>
    <h2>What is GBV?</h2>
    <p>Gender-based Violence (GBV) refers to a harmful act inflicted on individuals based on gender, including physical, sexual, psychological, and economic abuse, often rooted in power imbalances and societal norms.</p>
</section>

<section class="section-education"></section>
    <h2>Educational Resources</h2>
    <p>Explore GBV, its root causes, and prevention strategies.</p>
</section>

<section class="section-effects">
    <h2>Effects of GBV</h2>
    <ul class="effects-list"></ul>
        <li>Physical and Mental Health Issues – Survivors may suffer injuries, chronic pain, anxiety, depression, PTSD, and even suicide risk.</li>
        <li>Economic Impact – GBV can lead to loss of income, job instability, and financial dependence due to physical or emotional trauma.</li>
        <li>Social Consequences – Survivors may face stigma, isolation, or strained relationships with family and friends.</li>
        <li>Intergenerational Effects – Children exposed to GBV are more likely to experience emotional distress, perform poorly in school, or perpetuate the cycle of violence.</li>
    </ul>
</section>

<section id="help" class="section-help"></section>
    <h2>How You Can Help</h2>
    <p>You can help end GBV by spreading awareness, supporting survivors, and reporting cases of abuse.</p>
    <a href="" class="btn">Be part of the change</a>
</section>

<section id="report" class="section-report"></section>
    <h2>Report</h2>
    <p>If you know someone at risk or a survivor in need of support, report confidentially.</p>
    <a href="{{ url_for('report.report_form') }}" class="btn">Report Now</a>
</section>

{% endblock %}